{{!-- <div class="running-text">
  <marquee>SYARAT PENDAFTARAN ZONASI: Fotocopy KK + Asli | Fotocopy SHUN + Asli | Fotocopy Kartu Ujian SD -- ISTIRAHAT PUKUL 12.00-13.00</marquee>
</div> --}}

<div class="mt-3 mr-3" id="table-queue">
  <center>
    <h1>Loading</h1>
  </center>
</div>