<div class="row">
  <div class="col-md-12">
    <table class="table text-center guest-table">
      <tr>
        <th class="bg-primary text-white">Loket 1</th>
        <th class="bg-info text-white">Loket 2</th>
        <th class="bg-primary text-white">Loket 3</th>
      </tr>
      <tr>
        <td>{{#unless op.[0]}}SIAP{{/unless}} {{op.[0].[0].number}}</td>
        <td>{{#unless op.[1]}}SIAP{{/unless}} {{op.[1].[0].number}}</td>
        <td>{{#unless op.[2]}}SIAP{{/unless}} {{op.[2].[0].number}}</td>
      </tr>
      <tr>
        <th class="bg-primary text-white">Loket 4</th>
        <th class="bg-info text-white">Loket 5</th>
        <th class="bg-primary text-white">Loket 6</th>
      </tr>
      <tr>
        <td>{{#unless op.[3]}}SIAP{{/unless}} {{op.[3].[0].number}}</td>
        <td>{{#unless op.[4]}}SIAP{{/unless}} {{op.[4].[0].number}}</td>
        <td>{{#unless op.[5]}}SIAP{{/unless}} {{op.[5].[0].number}}</td>
      </tr>
    </table>
  </div>
  {{!-- <div class="col-md-3">
    <div class="alert bg-info text-center">
      <h4 class="text-uppercase font-weight-bold">Nomor Antrian Selanjutnya</h4>
      <hr>
      <h1 class="alert alert-info font-weight-bold">{{op.[6].[0].number}}</h1>
      <h1 class="alert alert-info font-weight-bold">{{op.[6].[1].number}}</h1>
      <h1 class="alert alert-info font-weight-bold">{{op.[6].[2].number}}</h1>
    </div>

    <b>INFO PENDAFTARAN</b>
    <ul style="color:red;font-size:17px">
      <li>1-4 Juli 2019 Pukul 08.00 - 14.00</li>
      <hr>
      <li>5 Juli 2019 Pukul 08.00 - 12.00</li>
    </ul>
  </div> --}}
</div>