.header {
    padding: 10px;
    background: #1b9473;
    color: #FFF;
}

.header img {
    float: left;
}

.running-text {
    color: #c52222;
    font-weight: 600;
    background: #69ec33;
    padding: 0;
    font-size: 40px;
}

#timeNow {
    font-size: 20px;
}

.clear {
    clear: both;
}

.app-name {
    float: left;
    margin-top: 6px;
    margin-left: 10px
}

.app-name h4 {
    margin: 0
}

.guest-table tr th {
    border-left: 10px solid #FFF;
    border-right: 10px solid #FFF;
    font-size: 30px;
    font-weight: 600;
}

.guest-table tr td {
    font-size: 50px;
    font-weight: 600;
    height: 150px;
    vertical-align: middle;
}

#loader {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 999;
    background: #ffffffd9;
    text-align: center;
    display: none;
}

#loader {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.568);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loader::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: #3539584f;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    position: absolute;
}