<div id="loader"></div>
<div class="container mt-3">

  <h3>
    <span class="badge badge-primary " id="wich-operator">Loket </span>
    <button class="btn btn-sm btn-danger reset-data" onclick="reset()"> Reset Data Antrean </button>
    <button class="btn btn-sm btn-danger reset-data" onclick="newAntrean()"> newAntrean </button>
  </h3>

  </center>
  <hr>
  <center>
    <h3>Nomor Antrian Saat Ini</h3> <br>
    <h1 style="font-weight:600" class="p-2 text-uppercase">
      {{#unless antrean_lokets}}
      Antrian belum dimulai
      {{/unless}}
      {{antrean_lokets.[0].number}}
    </h1>
    <button class="btn btn-info mb-5" onclick="callNext()">
      {{#if antrean_lokets}}
      Lanjut ke Antrian Berikutnya
      {{else}}
      Mulai Antrian Pertama!
      {{/if}}
      <i class="fa fa-users"></i></button>
  </center>
  <table class="table text-center">
    <thead class="thead-light">
      <tr>
        <th>Nomor Antrian</th>
        <th>Panggil</th>
      </tr>
    </thead>
    <tbody>
      {{#each antrean_lokets}}
      <tr>
        <td style="font-weight:600;">{{number}}</td>
        <td><button onclick="call({{number}})" class="btn btn-danger btn-sm">PANGGIL LAGI <i class="fa fa-volume-up"></i></button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#unless antrean_lokets}}
  <div class="alert alert-info">
    Belum ada riwayat antrian..
  </div>
  {{/unless}}
</div>

<script type="text/javascript">
  console.log($.cookie('operatorAntrean'))
  if (!$.cookie('operatorAntrean')) {
    var konfirmasi = prompt('ingin membantu anda mengatur settingan operator! Kalau boleh tau, komputer ini sebagai operator berapa?')
    if (konfirmasi != '' || konfirmasi != 'null') {
      $.cookie('operatorAntrean', konfirmasi)
      alert(konfirmasi + ' diterima! selamat bertugas')
    }
    location.reload()
  }

  $("#wich-operator").append($.cookie('operatorAntrean'))
  if ($.cookie('operatorAntrean') == '1') {
    $(".reset-data").show();
  } else {
    $(".reset-data").hide();

  }

  function callNext() {
    let konfirmasi = confirm('Panggil nomor antrian selanjutnya ?')
    if (konfirmasi) {
      axios.post('/operator/next', {
        operator: $.cookie('operatorAntrean'),
      }).then(res => {
        let number = res.data.number

        if (number) {
          $("#loader").fadeIn()

          axios.post('/operator/next/query', {
            operator: $.cookie('operatorAntrean'),
            number: number,
          })

          let data = axios.post('/voice', {
            voice: 'Nomor antrian.' + number + '. silahkan ke loket.' + $.cookie('operatorAntrean')
          })

          setTimeout(function () {
            alert('Loading ...');
            location.reload()
          }, 1000);
        } else {
          alert('Antrean Habis')
        }
      }).catch(error => {
        alert(error)
      })
    }
  }

  function call(number) {
    let konfirmasi = confirm('Panggil nomor antrian ' + number + ' ?')
    if (konfirmasi) {
      $("#loader").fadeIn()
      axios.post('/operator', {
        operator: $.cookie('operatorAntrean'),
        number: number,
      })

      let data = axios.post('/voice', {
        voice: 'Nomor antrian.' + number + '. silahkan ke loket.' + $.cookie('operatorAntrean')
      })

      setTimeout(function () {
        alert('Loading ...');
        location.reload()
      }, 1000);
    }
  }

  function newAntrean() {
    let konfirmasi = confirm('Panggil nomor antrian ?')
    if (konfirmasi) {
      $("#loader").fadeIn()
      axios.post('/api/antrean/create')

      let data = axios.post('/antrean/create')

      setTimeout(function () {
        alert('Loading ...');
        location.reload()
      }, 1000);
    }
  }

  function reset(number) {
    let konfirmasi = confirm('Reset Data Antrean')
    if (konfirmasi) {
      $("#loader").fadeIn()
      axios.get('/reset-data').then(() => {
        location.reload()
      })
    }
  }
</script>