<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>RSUD MANOKWARI</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  <link rel="icon" href="assets/img/logo.png">
</head>

<body onload="startTime()">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" charset="utf-8"></script>
  <div class="header bg-info">
    <img src="assets/img/logo.png" alt="LOGO RSUD MANOKWARI" width="60">
    <div class="app-name">
      <h4>RSUD MANOKWARI</h4>
      ANTREAN PASIEN RAWAT JALAN 2021
    </div>
    <span id="timeNow" class="badge badge-primary float-right mt-3 "></span>
    <div class="clear"></div>
  </div>
  {{{body}}}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/js/mdb.min.js"></script>
  <script src="https://code.responsivevoice.org/responsivevoice.js?key=o4aYHlxb"></script>
  <script src="assets/js/script.js" charset="utf-8"></script>
</body>

</html>